@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
  background: rgb(15, 12, 9);
  font-family: "Quicksand";
  /* background: rgb(27, 31, 28); */

}

.user-profile {
  margin-left: 3%;
  margin-top: 3%;
  border-color: #332828;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



.userpairedlistepage {
  padding-left: 1%;
  padding-right: 1%;
}
.account-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content:initial;
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #e1ae4f;
}

.friendscontainer {
  padding-top:3%;

}

.prompt-ul-list > * {
  list-style: none;
}

.form-control {
  background-color: rgb(226, 213, 187);

}
#commentbox {
  width: 90%;
  margin-left: 1%;
}

#registerbox {
  width: 40%;
  float: right;
  margin-right: 10%;
}
.promptbox {
  background: none;

}
#loginbox {
  width: 50%;
  margin-top: 15%;
  float: right;
}

#daily_prompt_bar {
  /* text-align: right; */
  width: 30%;
  height: 80%;
  float: right;
}

#promptcard {
  background-color:rgba(0, 0, 0, 0.2);


}

#welcomesign {
  margin-top: 300px;
  margin-left: 300px;
  font-size: 21px;
  /* text-align: center; */

  -webkit-animation: fadein 10s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 10; }
}
#friendslist {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-right: 23px;
  border-radius: 3%;
  border-color: #787575;
  border-style: double;
}

#receivedrequest {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  padding-left: 10px;
  border-color: #787575;
  border-style: double;
  margin-left: 0%;
}


#userbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 3%;
  border-color: #898787;
  border-style: double;
  margin-right: 9%;
  width: 20%;
}


#promptbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-left: 20px;

  border-color: #898787;
  border-style: double;
  margin-right: 9%;
  width: 20%;
}
#username {
  margin-left: auto;
  margin-right: 0;
}


#homepagebackground{
  /* Set rules to fill background */
  min-height: 82%;
  min-width: 600px;
  animation: fadeIn 5s;

  /* Set up proportionate scaling */
  width: 75%;
  height: 82%;

  /* Set up positioning */
  position:relative;
  background-size:contain, cover;
  background-repeat: no-repeat;
  top: 0;
  left: 10%;
}

#registerpagebackground{
  /* Set rules to fill background */
  min-height: 82%;
  min-width: 150px;
  animation: fadeIn 5s;

  /* Set up proportionate scaling */
  width: 50%;
  height: 82%;

  /* Set up positioning */
  position:relative;
  float: right;
  background-size:contain, cover;
  background-repeat: no-repeat;
  top: 0;
  left: 5%;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

#profilebox {
  background-color: rgb(227, 225, 224);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
#footer {
  text-align: center;
  background-color: rgba(219, 219, 219, 0.851);
  color:#4d4b4b;
  margin-bottom: 0%;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#updateaccount {
  width: 50%;
  float:left;
}

#profile-image {
  size:50em
}

#request_sent_btn {
  border-radius: 5%;
  align-self: center;
}

#confirm_request_btn {
  border-radius: 5%;
  align-self: center;
}

#deny_request_btn {
  border-radius: 5%;
  align-self: center;
}