@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
  background: rgb(29, 31, 29);
  font-family: "Quicksand";
  /* background: rgb(27, 31, 28); */

}

.user-profile {
  margin-left: 3%;
  margin-top: 3%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.user-profile {
  border-color: #332828;
}

.account-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content:initial;
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.friendscontainer {
  padding-top:3%;
}

#friendslist {
  background-color: rgb(227, 225, 224);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

#homepagebackground{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1030px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position:relative;
  background-size:contain, cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

#profilebox {
  background-color: rgb(227, 225, 224);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
#footer {
  text-align: center;
  background-color: rgba(219, 219, 219, 0.851);
  color:#4d4b4b;
  margin-bottom: 0%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#profile-image {
  size:50em
}

#request_sent_btn {
  border-radius: 5%;
  align-self: center;
}

#confirm_request_btn {
  border-radius: 5%;
  align-self: center;
}

#deny_request_btn {
  border-radius: 5%;
  align-self: center;
}