<html>
<head>
    <title>Coder Lounge</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/site.css"/>
</head>

<body>
    <header class="site-header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <img src="/static/logo-tag.png" alt="" width="50" height="35">
            <a class="navbar-brand" href="/">Coder Lounge</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav mr-auto">
                  {% if logged_in_user %}

                  <a class="nav-item nav-link" href="/profile">Profile</a>
                  <a class="nav-item nav-link" href="/login">Sign Out</a>

                    {% else %}
                    <a class="nav-item nav-link" href="/register"> <img class="sign-up" >Sign Up</a>
                    <a class="nav-item nav-link" href="/login">Sign In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

    {% block content%}{% endblock content%}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}


</body>
</html>
