{% extends 'base.html' %}

{% block content %}


<div class="container">
  <script>
    // VANTA.TRUNK({
    //   el: ".your-element-selector",
    //   mouseControls: true,
    //   touchControls: true,
    //   gyroControls: false,
    //   minHeight: 200.00,
    //   minWidth: 200.00,
    //   scale: 1.00,
    //   scaleMobile: 1.00,
    //   color: 0x2f2d2d,
    //   chaos: 2.00
    // })
    </script>
  <div class="row">
    <div class="col">
      <div class="row">
        <div id="promptbox" class="col">
          <div class ="user-profile" style="width: 97%">
            <h4 style="color:rgb(197, 196, 194);">Welcome to the Challenge of the Day!</h4>
            <br>
            <h5 style="color:rgb(197, 196, 194);">Please take 30 minutes to solve the following prompt and share your answer with explanation in the comments!</h5>
            <p class="c2"><a href= "{{ random_prompt.prompt_link }}"> {{ random_prompt.prompt_name }}</a></p>
            <p style="color:rgb(197, 196, 194);"> {{random_prompt.prompt_description }}</p>
        </div>
    </div>
    </div>
  </div>
  </div>


  {% for comment in all_comments %}

  {% for user in commented_users %}
  {% if comment %}
  {% if comment.user_id == user.user_id %}

  <div class="col">
    <div class="row"class="row">
      <div style="background-color: rgb(97, 91, 89);" id="promptbox" class="col">
        <div class ="comments-section" >
          <img style="border-radius:50%; width: 4%; height: 25%;" src="static/profile_pics/{{ user.profile_picture | default('static/profile_pics/default-image.jpeg') }}">
       <small>{{ user.first_name }} {{ user.last_name }} Commented:</small><br>
       <br>
       <p style="color:rgb(197, 196, 194); ">  {{comment.body}}</p>

        </div>
      </div>
    </div>
  </div>

  {% endif %}
  {% endif %}

  {% endfor %}
  {% endfor %}

  <div style="color:rgb(197, 196, 194);" class="commentcontainer">

    <div id="commentbox" class="content-section">
      <form method="POST" action="/dailyprompt">
          {{ form.hidden_tag() }}
          <br>

          <fieldset class="form-group">
            <div class="form-group" >
              <br>
              {{ form.body.label(class="form-control-label") }}
              <br>
              {{ form.body(size=5, class="form-control form-control-lg") }}
              <br>

            </div>

            <div class="form-group">

              {{ form.submit(class= "btn-outline-info") }}
            </div>
          </fieldset>
        </form>

    </div>
  </div>
</div>

{% endblock content %}