{% extends 'base.html' %}

{% block content %}


<script>
  VANTA.NET({
    el: ".your-element-selector",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0xc57a0e,
    backgroundColor: 0x664617,
    points: 12.00,
    maxDistance: 22.00,
    spacing: 14.00
  })
  </script>

<div class="container" id="homepagebackground">
  <br>
  <div class="container">
    <div class="col">
      <div class="col-sm">
      </div>
      </div>

      <div id="daily_prompt_bar" class="col">
        <div class="card">
          <h5 >Why should I practice leetcode style problems? </h5>
          <p> "Leetcode-style problems have many benefits aside from the technical learnings they can provide.
            These types of problems tend to force developers into choosing one among many different paths of implementation.
            These are great practice for learning new algorithms, data structures, and approaches to solving problems." Reference: cult.honepot.io </p>
         <div id="promptcard" class="card"> <p>Prompt of the right this moment: </p>
          <a href= "{{ (all_prompts | random).prompt_link }}"> Leetcode Problem: {{ (all_prompts | random).prompt_name }}</a> </div>
          <img src="{{gifs | random }}">
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-sm">
        <div >{% if user_email %}
          <h1 id="welcomesign" style="color:rgb(197, 196, 194);">Welcome to the Coder Lounge, {{ logged_in_user.first_name }}! </h1>
          {% else %}
          <h3 id="welcomesign" style="color:rgb(197, 196, 194);" class="content-section" >Welcome to the Coder Lounge!</h3>
          {% endif %}
        </div>
        <br>
        <style>
          #homepagebackground {
            background-image: url('static/logo-tag.png');
          }
          </style>
        <br>
      </div>
      </div>
    </div>
  </div>
  <footer style="color:rgb(197, 196, 194);">All Rights Reserved <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-square" viewBox="0 0 16 16">
    <path d="M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
  </svg> Gulafroz Dailey 2023 </footer>
{% endblock content %}