{% extends 'base.html' %}

{% block content %}


<div class="container">
  <br>


  <div>{% if user_email %}
    <h3>Welcome to the Coder Lounge, {{ logged_in_user.first_name }}!</h3>
    {% else %}
    <h3 class="content-section">Welcome to the Coder Lounge!</h3>
    {% endif %}
  </div>
  <br>
  <img src="/static/coder.png" alt="" width="500" height="400">
  <br>
</div>
<div class="main-body">
 <br>
  <p>Through Coder Lounge you will get paired with Programmers to solve problems together!</p>
  <br>
</div>

{% endblock content %}