{% extends 'base.html' %}

{% block content %}


<div class="container" id="homepagebackground">
  <br>


  <div >{% if user_email %}
    <h1 id="welcomesign" style="color:rgb(197, 196, 194);">Welcome to the Coder Lounge, {{ logged_in_user.first_name }}! </h1>
    {% else %}
    <h3 id="welcomesign" style="color:rgb(197, 196, 194);" class="content-section" >Welcome to the Coder Lounge!</h3>
    {% endif %}
  </div>
  <br>
  <style>
    #homepagebackground {
      background-image: url('static/logo-tag.png');

    }
    </style>

  <br>
</div>
<div class="main-body">
 <br>
  <p style="color:rgb(197, 196, 194);" >Through Coder Lounge you will get paired with Programmers to solve problems together!</p>
  <br>
</div>

{% endblock content %}