{% extends 'base.html' %}

{% block content %}


<div  style="color:rgb(197, 196, 194);" class="container">
  <script>
    VANTA.GLOBE({
      el: ".your-element-selector",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0xffaf3f,
      size: 0.60,
      backgroundColor: 0x181007
    })
    </script>

<img id = "registerpagebackground" src="static/logo-tag.png">

  <div  id="loginbox"  class="content-section">
    <form  method="POST" action="/login">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Sign In </legend>

          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span> {{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
              {{ form.password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span> {{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
          </div>

      </fieldset>

      <div class="form-group">
        {{ form.submit(class= "btn-outline-info") }}
      </div>
      <a class="ml-2" href= "{{ url_for('home') }} "></a>
    </form>


  </div>
</div>


{% endblock content %}