{% extends 'base.html' %}

{% block content %}

<div style="color:rgb(197, 196, 194);" class="container">

  <div id="registerbox" class="content-section">
    <form method="POST" action="/register">
        {{ form.hidden_tag() }}
        <br>
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Sign Up Today </legend>

          <div class="form-group">
            <br>
            {{ form.first_name.label(class="form-control-label") }}
            {{ form.first_name(class="form-control form-control-lg") }}
          </div>


          <div class="form-group">
            <br>
            {{ form.last_name.label(class="form-control-label") }}
            {{ form.last_name(class="form-control form-control-lg") }}
          </div>

          <div class="form-group">
            <br>
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span> {{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group">
            <br>
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
              {{ form.password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span> {{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group">
            <br>
            <div class="prompt-ul-list">
            {{ form.prompt_difficulty_level.label(class="form-control-label") }}
            {{ form.prompt_difficulty_level }}
          </div>
        </div>

          <div class="form-group">
            <br>
            {{ form.primary_language.label(class="form-control-label") }}
            {{ form.primary_language(class="form-control form-control-lg") }}
          </div>

          <div class="form-group">
            <br>
            <p> To make multiple selections, please click hold onto SHIFT button and click on your selections!</p>
            {{ form.programming_language_label.label(class="form-control-label") }}
          </div>
            {{ form.programming_language_label(size=5, class="form-control form-control-lg", multiple=True) }}


            <div class="form-group">
              <br>
            {{ form.timezone_name.label(class="form-control-label") }}
          </div>
            {{ form.timezone_name(size=5, class="form-control form-control-lg") }}

              <div class="form-group">
                <br>
                <p> To make multiple selections, please click hold onto SHIFT button and click on your selections!</p>
                {{ form.timeslot_label.label(class="form-control-label") }}
              </div>
                {{ form.timeslot_label(size=5, class="form-control form-control-lg", multiple=True) }}

      </fieldset>
      <br>
      <div class="form-group">
        <br>
        {{ form.submit(class= "btn-outline-info") }}
      </div>
      <a class="ml-2" href= "{{ url_for('login') }} "></a>
    </form>

    <div class="border-top pt-3">
      <small class="text-muted">
        Already Have an Account? <a class="ml-2" href= "{{ url_for('login') }} ">Sign In</a>
      </small>

    </div>
    <br>
  </div>

  <img id = "registerpagebackground" src="static/logo-tag.png">
</div>

{% endblock content %}