{% extends 'base.html' %}

{% block content %}


<br>

<div class="userpairedlistepage">
  <div>

      {% if test_user %}
    <h1 style="color:rgb(197, 196, 194);" >Thank you for sending a request!</h1>
    <p style="color:rgb(197, 196, 194);" >Here's the list of Programmers you have sent a request to be paired with.</p>
  {% else %}
  <h5 style="color:rgb(197, 196, 194); text-align: center;" class="content-section">   These awesome Programmers are the exact match with your language preference, availability and primary language.</h5>
    <h5 style="color:rgb(197, 196, 194);text-align: center;" class="content-section">  Please send request to be connected!</h5>
  {% endif %}
</div>

  <script src="/static/app.js"></script>

  {% for user in all_users %}
  <form  action="/pair_request" method="POST">
  <div class="col">
    <div class="column">

        <div  class="card"> <img style="border-radius:50%; width: 30%; height: 30%;" src="static/profile_pics/{{ user.profile_picture | default('static/profile_pics/default-image.jpeg') }}">

        {{user.first_name}} {{user.last_name}}
        <br>
        <small class="text-muted">{{user.email}}</small>
        {% for lang in user.programming_languages %}
        <small class="text-muted">{{ lang.programming_language_name }}, &nbsp;</small>
        {% endfor %}

        {% for timings in user.selected_timeslots %}
        <small class="text-muted">{{ timings.timeslot_name }}, &nbsp;</small>
        {% endfor %}


          <input type="hidden" id="user_email" name="user_email" value="{{ user.email }}">
          <input class="btn btn-light" value="Let's Connect" type="submit" />

        <br>
      </div>
      <br>

      </div>

    </div>
      </form>
      {% endfor %}



{% endblock content %}