{% extends 'base.html' %}

{% block content %}
<br>

  <div>{% if test_user %}
    <h1>Thank you for sending a request!</h1>


    <p>Here's the list of Programmers you have sent a request to be paired with.</p>


  {% else %}
  <h1 class="content-section">Welcome to the Coder Lounge!</h1>


  {% endif %}
</div>

<br>
    <table  class="table table-striped" >
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Pairing Status</th>
        </tr>
      </thead>

    {% for pairing_request_user in test_user %}

    <TR>
       <TD class="c2"> {{pairing_request_user.first_name}} </TD>
       <TD class="c3"> {{pairing_request_user.last_name}} </TD>
       <TD class="c4" > {{pairing_request_user.email}} </TD>
      <TD> Request Submitted </TD>
  </TR>

  {% endfor %}
  </table>

<table  class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Programming Languages</th>
      <th scope="col">Timings</th>
      <th scope="col">Prompts</th>

    </tr>
  </thead>

  <form action="/pair_request" method="POST">
  {% for user in all_users %}

  <TR>
     <TD class="c2"> {{user.first_name}} </TD>
     <TD class="c3"> {{user.last_name}} </TD>
     <TD class="c4" > {{ user.email }} </TD>

     <TD class="c5">
     {% for lang in user.programming_languages %}
     {{ lang.programming_language_name }}, &nbsp;
     {% endfor %}
    </TD>

     <TD class="c6">
     {% for timings in user.selected_timeslots %}
        {{ timings.timeslot_name }}, &nbsp;
     {% endfor %}
    </TD>

     <TD class="c2"><a href="{{ (all_prompts | random).prompt_link }}">{{ (all_prompts | random).prompt_name }}</a></TD>
</TR>

</body>
</html>

{% endfor %}
<label> Please enter the email of the Programmer you would like to connect with!</label>
<br>

<input type="text" id="user_email" name="user_email" > <br>

<input value="Submit" type="submit" />

  </table>
  <script src="/static/app.js"></script>
</form>
{% endblock content %}