{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">

  function confirmRequest(requestee_user_id) {

    if (window.confirm("Do you want to confirm this request?")) {
      fetch(`/pairing/${requestee_user_id}/confirm`, {method: 'POST'});
      window.location.reload();
    }
  }

</script>


<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="row">
      <div class="col">
        <div class ="user-profile">
          <h3 style="color:rgb(197, 196, 194);">Welcome to the Coder Lounge, {{ logged_in_user.first_name }}!</h3>
        <div class ="content-section">
          <div id="profile-image">
          <div class="media">
            <img class="rounded-circle account-img" src="static/default-image.jpeg" width="200" height="200">
          </div>
        </div>
        </div>
      </div>

      <div style="color:rgb(197, 196, 194);" class="col">
        <div class="media-body">
          <h3 style="color:rgb(197, 196, 194);"class="account-heading">{{ logged_in_user.first_name }} {{ logged_in_user.last_name }}</h3>
          <h5 style="color:rgb(197, 196, 194);"class="text-secondary">{{ logged_in_user.email }}</h5>
          {% for lang in logged_in_user.programming_languages %}
          <h5 style="color:rgb(197, 196, 194);" class ="text-secondary">{{ lang.programming_language_name }} </h5>
          {% endfor %}
          <h3 style="color:rgb(197, 196, 194);" class="text-secondary">{{logged_in_user.primary_language_name}}</h3>
        </div>
      </div>
    </div>


    <div class="col" id="friendslist">
      <style>
        #friendslist {
          background-image: url('static/v935-aum-03_2.jpeg');

        }
        </style>

    <div class="col">
      <div class="friendscontainer">

        <div class="card" >Here's the list of Programmers who you have been APPROVED to be paired with.</div>
        {% for approved_request_user in approved_request_users %}
        <div class="col">
        <div class="column">

            <div  class="card"> {{approved_request_user.first_name}} {{approved_request_user.last_name}} <br>{{approved_request_user.email}}</div>
            <br>
      </div>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p style="color:rgb(197, 196, 194);" >Here's the list of Programmers you have received a request to be paired with.</p>
      {% for paired_user in received_request_users %}
      <div class="row">
        <div class="column">
          <div class="card">
            {{paired_user.first_name}} {{paired_user.last_name}}
            <br>
            {{paired_user.email}}
            <button type="button" onclick="confirmRequest({{ paired_user.user_id }})" id="confirm_request_btn" class="btn btn-primary">
              Confirm Request
            </button>
            <button type="button" class="btn btn-danger" onclick="alert('Denying Request Completed!')"id="deny_request_btn">
              Deny Request
            </button>
          </div>
          <br>
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="col">

    </div>
    <p style="color:rgb(197, 196, 194);" >Here's the list of Programmers you have sent a request to be paired with.</p>
    {% for sent_request_user in sent_request_users %}
    <div class="row">
      <div class="column">
        <div class="card"> {{sent_request_user.first_name}} {{sent_request_user.last_name}} <br>{{sent_request_user.email}} <button onclick= "alert('This request is pending approval of the programmer!')" id="request_sent_btn" type="button" class="btn btn-secondary"> Request Sent </button> <br> <button type="button" class="btn btn-light" id="request_sent_btn">Cancel Request</button>
        </div>
        <br>
      </div>
    </div>
    {% endfor %}
  </div>


    </div>
    <div class="col">

    </div>
    <p style="color:rgb(197, 196, 194);">To pair with more Programmers, checkout the list of Programmers <a href="\pairedlist"> HERE! </a></p>
    </div>

    </div>
  </div>
</div>

















{% endblock content %}