{% extends 'base.html' %}

{% block content %}


<script type="text/javascript">
  function confirmRequest(requestee_user_id) {

    if (window.confirm("Do you want to confirm this request?")) {
      fetch(`/pairing/${requestee_user_id}/confirm`, {method: 'POST'});
      window.location.reload();
    }
  }
</script>

<script type="text/javascript">
  function declineRequest(requestee_user_id) {

    if (window.confirm("Do you want to decline this request?")) {
      fetch(`/pairing/${requestee_user_id}/decline`, {method: 'POST'});
      window.location.reload();
    }
  }
</script>

<script type="text/javascript">
  function cancelRequest(requestee_user_id) {

    if (window.confirm("Are you sure you want to cancel this request?")) {
      fetch(`/pairing/${requestee_user_id}/cancel`, {method: 'POST'});
      window.location.reload();
    }
  }
</script>

<div class="container">
  <script>
    // VANTA.TRUNK({
    //   el: ".your-element-selector",
    //   mouseControls: true,
    //   touchControls: true,
    //   gyroControls: false,
    //   minHeight: 200.00,
    //   minWidth: 200.00,
    //   scale: 1.00,
    //   scaleMobile: 1.00,
    //   color: 0x2f2d2d,
    //   chaos: 2.00
    // })
    </script>
  <div class="row">
    <div class="col">
    </div>
    <div class="row">
      <div id="userbox" class="col">
        <div class ="user-profile">
          <h3 style="color:rgb(197, 196, 194);">Welcome to the Coder Lounge, {{ logged_in_user.first_name }}!</h3>
        <div class ="content-section">
          <div id="profile-image">
          <div class="media">
            <img class="rounded-circle account-img" src="static/profile_pics/{{ logged_in_user.profile_picture | default('static/profile_pics/default-image.jpeg') }}" width="200" height="200">
          </div>
        </div>
        </div>
      </div>

      <div style="color:rgb(197, 196, 194);" class="col">
        <div class="media-body">
          <h3 style="color:rgb(197, 196, 194);"class="account-heading">{{ logged_in_user.first_name }} {{ logged_in_user.last_name }}</h3>
          <h5 style="color:rgb(197, 196, 194);"class="text-secondary">{{ logged_in_user.email }}</h5>
          {% for lang in logged_in_user.programming_languages %}
          <h5 style="color:rgb(197, 196, 194);" class ="text-secondary">{{ lang.programming_language_name }} </h5>
          {% endfor %}
          <h3 style="color:rgb(197, 196, 194);" class="text-secondary">{{logged_in_user.primary_language_name}}</h3>
        </div>
      </div>
    </div>

    <div class="col" id="friendslist">

    <div class="col">
      <div class="friendbox">

    </div>
      <div class="friendscontainer">

        <p style="color:rgb(197, 196, 194);">Programmers who you have been APPROVED to be paired with.</p>
        {% for approved_request_user in approved_request_users %}
        <div class="col">
        <div class="column">
          <br>
          <div  class="card"> <img style="border-radius:50%; width: 90%; height: 90%;" src="static/profile_pics/{{ logged_in_user.profile_picture | default('static/profile_pics/default-image.jpeg') }}">  {{approved_request_user.first_name}} {{approved_request_user.last_name}} <br> <small class="text-muted">Connected</small></div>
          <br>
      </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

      </div>

      <div class="col" id="friendrequests">

      <div class="col">
        <div class="">

      </div>

        <div class="">
          <br>
          <p style="color:rgb(197, 196, 194);">Here's the list of Programmers you have received a request to be paired with.</p>
          {% for paired_user in received_request_users %}
        </div>
          <div class="row">
            <div class="column">
              <div class="card">
                {{paired_user.first_name}} {{paired_user.last_name}}
                <br>
                <small class="text-muted">{{paired_user.email}}</small>

                <button type="button" onclick="confirmRequest({{ paired_user.user_id }})" id="confirm_request_btn" class="btn btn-primary">
                  Confirm Request
                </button>
                <br>
                <button type="button" onclick="declineRequest({{ paired_user.user_id }})" id="deny_request_btn" class="btn btn-danger">
                  Deny Request
                </button>
                {% endfor %}
          <div class="col">
          </div>

        </div>

        </div>
      </div>
      <br>
    </div>

    </div>
    <div>
    <div id= "receivedrequest" class="col">

    <br>
    <p style="color:rgb(197, 196, 194);" >Here's the list of Programmers you have sent a request to be paired with.</p>
    <p style="color:rgb(197, 196, 194);">To pair with more Programmers, checkout the list of Programmers <a href="\pairedlist"> HERE! </a></p>

    {% for sent_request_user in sent_request_users %}

    <div class="row">
      <div class="column">
        <div class="card"> {{sent_request_user.first_name}} {{sent_request_user.last_name}} <br><small class="text-muted">{{sent_request_user.email}}</small> <button onclick= "alert('This request is pending approval of the programmer!')" id="request_sent_btn" type="button" class="btn btn-secondary"> Request Sent </button> <br>
          <button type="button" onclick="cancelRequest({{ sent_request_user.user_id }})" id="cancel_request_btn" class="btn btn-light">
            Cancel Request
            </button>
        </div>
        <br>
      </div>
      <br>
    </div>
    <br>
    {% endfor %}
  </div>



{% endblock content %}